<h1>Listing notif_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Destination</th>
      <th>Type</th>
      <th>Carrier</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notif_types.each do |notif_type| %>
      <tr>
        <td><%= notif_type.name %></td>
        <td><%= notif_type.destination %></td>
        <td><%= notif_type.type %></td>
        <td><%= notif_type.carrier %></td>
        <td><%= notif_type.verified %></td>
        <td><%= link_to 'Show', notif_type %></td>
        <td><%= link_to 'Edit', edit_notif_type_path(notif_type) %></td>
        <td><%= link_to 'Destroy', notif_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notif type', new_notif_type_path %>
